* {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	box-sizing: border-box;
}

body {
	background: grey;
}

.first {
	width: 100%;
	background-color:lightgrey;
	padding: 20px;
	margin: 10px;
	clear: both;
}

.second {
	float: left;
	width: 45%;
	background-color: lightgrey;
	margin: 15px;
	height: 150px;
	padding: 20px;
}

article {
	width: 90%;
	height: 100px;
	padding: 10px;
	background-color: grey;
	color: lightgrey;
	position: relative;
	top: 30px;
	left: 10px;
}

h1, h2, h3, p{
	color:grey;
	display: inline;
}

div {
	background-color: lightgrey;
	padding: 5px;
	margin: 5px;
}