* {
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	box-sizing: border-box;
	border: 3px solid red;
	margin: auto;
}

body {
	background: #777;
	width: 960px;

}

/* Header, nav, footer */
.first {
	background-color:#ebebeb;
	clear: both;
}

/* section, aside */
.second {
	float: left;
	background-color: #ebebeb;
	height: 175px;
}

section {
	width: 495px;
}

aside {
	float: right;
	width: 100px;
}

h1, h2, h3, p{
	color:#777;
	display: inline;
}

div {
	background-color: #ebebeb;
	width: 50%;
}